/* 공통 영역 시작 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none !important;
    list-style: none;
    color: #222;
    font-weight: lighter;
    font-family: '맑은 고딕';
}

.black_a {
    color: #000;
}

.small {
    font-size: 12px;
    color: #999;
}

body {
    overflow-x: hidden;
    position: relative;
}

input {
    border: none;
    padding-left: 20px;
}

.container {
    width: 1140px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.container_480 {
    width: 480px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.flex_c {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex_b {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex_a {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.flex_d {
    display: flex;
    flex-direction: column;
}

.flex_e {
    display: flex;
    justify-content: flex-end;
}

.flex_e>* {
    margin: 0 8px;
}

.ab_c {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img_cover {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.w_500 {
    width: 500px;
}

.w_600 {
    width: 600px;
}

.w_700 {
    width: 700px;
}

.w_800 {
    width: 800px;
}

.w_900 {
    width: 900px;
}


.custom_modal {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0007;
    z-index: 10;
    display: none;
}


.custom_modal > .inner {
    border-radius: 5px;
    background-color: #fff;
    height: 300px;
    padding: 30px;
}

.custom_modal > .inner > .close_btn {
    position: absolute;
    font-size: 20px;
    right: 30px;
    top: 30px;
    font-weight: bold;
}

input,
select,
textarea,
button {
    outline: none;
    border: 1px solid #dfdfdf;
    background-color: #fff;
}

.bold {
    font-weight: bold;
}

.table {
    border-bottom: 1px solid #dee2e6;
}

.section_title hr {
    border: none;
    width: 40px;
    height: 3px;
    background-color: #d33;
    margin-top: 10px;
    margin-bottom: 20px;
}

.section {
    padding: 45px 0;
}

.section.sub {
    background-color: #f7f7f7;
}

.section_title h1 {
    font-size: 30px;
    margin-bottom: 30px;
}

.section_title p {
    color: #999;
    margin-bottom: 40px;
}

.section_title.center {
    text-align: center;
}

.section_title.center hr {
    margin-left: auto;
    margin-right: auto;
}

.tag {
    font-size: 13px;
    padding: 3px 12px;
    border: 1px solid #d33;
    font-weight: bold;
    color: #d33;
    background-color: #fff;
    margin: 0 5px;
}

.btn0 {
    padding: 8px 16px;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #d33;
    transition: .5s;
    font-size: 13px;
}

.btn1 {
    background-color: #d33;
    color: #f3f3f3;
}

.btn2 {
    background-color: #fff;
    color: #d33;
}

.btn0.disable {
    opacity: 0.5;
}

.btn0:disabled {
    opacity: 0.5;
    cursor: default;
}

.btn0:disabled:hover {
    filter: grayscale(0);
}

.btn0:hover {
    filter: grayscale(1);
}

.card {
    overflow: hidden;
    position: relative;
    width: 100%;
    border: 1px solid #dfdfdf;
}

.card .img {
    width: 100%;
    height: 50%;
    overflow: hidden;
}

.card .text {
    width: 100%;
    height: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card .text .title {
    font-size: 20px;
}

.card .text .content {
    font-size: 14px;
    color: #888;
}


/* 공통 끝 */


/* 헤더영역 */

header {
    width: 100%;
    height: 120px;
    position: fixed;
    top: 0;
    z-index: 10;
    box-shadow: 0px 1px 2px #0001;
}

header>.header_top {
    width: 100%;
    height: 40px;
    background-color: #f1f1f1;
}

header>.header_top input {
    background-color: #f1f1f1;
    border: none;
    font-weight: bold;
}

header>.header_top nav {
    display: flex;
}

header>.header_top a {
    font-size: 12px;
    width: 80px;
    color: #aaa;
}

header>.header_top select {
    border: none;
    background-color: #f1f1f1;
    font-size: 12px;
    color: #aaa;
}

header>.header_top select:hover,
header>.header_top a:hover {
    color: #222;
}

header>.header_bottom {
    width: 100%;
    height: 80px;
    background-color: #fff;
}

header>.header_bottom nav {
    height: 100%;
    display: flex;
}

header>.header_bottom .menu_2depth {
    position: fixed;
    width: 100%;
    top: 120px;
    left: 0px;
    height: 0px;
    background-color: #fffc;
    transition: all 0.5s;
    overflow: hidden;
}

header>.header_bottom .ham {
    display: none;
}

header>.header_bottom .ham_menu {
    display: none;
}

header>.header_bottom .menu_2depth .container {
    display: flex;
    justify-content: flex-end;
}

header>.header_bottom .menu_2depth .container div {
    width: 110px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header>.header_bottom nav:hover~.menu_2depth,
header>.header_bottom .menu_2depth:hover {
    height: 300px;
}

header>.header_bottom a {
    color: #222;
    width: 110px;
    height: 100%;
}

header>.header_bottom a:hover {
    color: #d33;
}


/* 헤더 끝 */


/* 비주얼 시작 */

.visual {
    margin-top: 120px;
    width: 100%;
    height: calc(100vh - 120px);
    position: relative;
}

.visual .img_container {
    width: 100%;
    height: 100%;
}

.visual .img_container img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    filter: brightness(60%);
    animation: img_slide 9s infinite;
}

.visual .img_container img:nth-child(1) {
    animation-delay: -3s;
}

.visual .img_container img:nth-child(3) {
    animation-delay: -6s;
}

@keyframes img_slide {
    000.00% {
        opacity: 0;
    }
    030.00% {
        opacity: 0;
    }
    033.33% {
        opacity: 1;
    }
    063.33% {
        opacity: 1;
    }
    066.66% {
        opacity: 0;
    }
    100.00% {
        opacity: 0;
    }
}

.visual .text {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    animation: text_slide 9s infinite;
    text-align: center;
}

.visual .text:nth-child(2) {
    animation-delay: -3s;
}

.visual .text:nth-child(4) {
    animation-delay: -6s;
}

@keyframes text_slide {
    000.00% {
        opacity: 0;
    }
    030.00% {
        opacity: 0;
    }
    033.33% {
        opacity: 1;
    }
    063.33% {
        opacity: 1;
    }
    066.66% {
        opacity: 0;
    }
    100.00% {
        opacity: 0;
    }
}


/* 비주얼 끝 */


/* 추천 축제 시작 */

.recommend {
    background-color: #f7f7f7;
    width: 100%;
    padding: 48px 0;
}

.recommend .card_group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 450px;
    grid-gap: 30px;
}

.recommend .card_group .card img {
    transform: scale(1.3);
    transition: .5s;
}

.recommend .card_group .card img:hover {
    transform: scale(1);
}


/* 추천 축제 끝 */


/* 이달의 축제 시작 */

.monthly {
    padding: 45px 0;
    width: 100%;
    background-color: #fff;
}

.monthly .card_group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 450px);
    grid-gap: 30px;
}

.monthly .card .content {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.monthly .card .text:hover>.content {
    height: 90%;
    white-space: normal;
    overflow-y: auto;
}


/* 이달의 축제 끝 */


/* 축제 가이드 시작 */

.guide {
    width: 100%;
    padding: 45px 0;
    background-color: #f7f7f7;
}

.guide .item_group {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 130px;
    grid-gap: 20px;
}

.guide .item_group .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .5s;
}

.guide .item_group .item:hover {
    transform: translateY(-20px);
    box-shadow: 1px 5px 20px 1px #0001;
}

.guide .item_group .item .icon {
    width: 100%;
    margin: 20px 0;
}

.guide .item_group .item .icon>i {
    color: #d33;
    font-size: 40px;
}


/* 축제 가이드 끝 */


/* 최근 기사 시작 */

.articles {
    width: 100%;
    padding: 45px 0;
    background-color: #fff;
}

.articles .tbl_input {
    display: none;
}

.articles .label_group label {
    cursor: pointer;
    margin-right: 20px;
    font-size: 20px;
}

.articles #tbl_1:checked~.label_group>label:nth-child(1),
.articles #tbl_2:checked~.label_group>label:nth-child(2) {
    color: #d33;
    border-bottom: 3px solid #d33;
    padding-bottom: 10px;
}

.articles #tbl_1:checked~.tbl_2,
.articles #tbl_2:checked~.tbl_1 {
    display: none;
}

.articles table {
    margin: 30px 0;
    border-bottom: 2px solid #dee2e6;
}

.articles table tbody tr {
    transition: .5s;
    cursor: pointer;
}

.articles table tbody tr:hover {
    background-color: #f7f7f7;
    transform: translateX(10px);
}


/* 최근 기사 끝 */


/* 푸터 시작 */

footer {
    width: 100%;
    height: 168px;
    background-color: #333;
}

footer .logo {
    width: 250px;
    height: 80px;
}

footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .footer_text_box {
    width: 55%;
}

footer * {
    color: #ccc;
}

footer a:hover {
    color: #f7f7f7;
}


/* 푸터 끝 */


/* 반응형 시작 */

@media (max-width:480px) {
    .container {
        width: 460px;
    }
    header .header_top nav {
        display: none;
    }
    header .header_bottom nav {
        display: none;
    }
    header .header_bottom .ham {
        display: block;
        cursor: pointer;
    }
    header .header_bottom .ham i {
        font-size: 30px;
    }
    header .header_bottom .ham_menu {
        display: block;
        position: fixed;
        left: 0;
        top: 120px;
    }
    header .header_bottom .ham_menu nav {
        height: 0;
        display: flex;
        width: 100vw;
        background-color: #fffc;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        transition: .5s;
    }
    header .header_bottom .ham_menu:hover nav,
    header .header_bottom .ham:hover~.ham_menu nav {
        height: 550px;
    }
    header .header_bottom .ham_menu nav * {
        margin: 5px 0;
    }
    .section .container {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .monthly .card_group {
        grid-template-columns: repeat(1, 400px);
        grid-template-rows: repeat(6, 450px);
    }
    .recommend .card_group {
        grid-template-columns: repeat(1, 400px);
        grid-template-rows: repeat(3, 450px);
    }
    .guide .item_group {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 130px);
        grid-gap: 10px;
    }
    .articles table * {
        font-size: 13px;
    }
    footer {
        height: auto;
    }
    footer .container {
        flex-direction: column;
    }
    footer .footer_text_box {
        width: 100%;
        text-align: center;
    }
    footer * {
        font-size: 12px;
    }
}


/* 반응형 끝 */


/* 서브 비주얼 시작 */

.sub_visual {
    margin-top: 120px;
    width: 100%;
    height: 350px;
    position: relative;
}

.sub_visual .img_container {
    width: 100%;
    height: 100%;
}

.sub_visual .img_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%);
}

.sub_visual .text {
    text-align: center;
}

.sub_visual .text span {
    letter-spacing: 10px;
    color: #fff;
    font-size: 30px;
}

.sub_visual .text p {
    margin-top: 15px;
    color: #fff;
    font-size: 20px;
}


/* 서브 비주얼 끝 */


/* 서브 뉴스 시작 */

.sub_news {
    width: 100%;
    padding: 45px 0;
}

.sub_news .search_box {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #d33;
    margin: 80px 0;
}

.sub_news .search_box>input {
    border: none;
    width: 90%;
    height: 100%;
}

.sub_news table {
    border-bottom: 1px solid #dee2e6;
}

.sub_news table tbody tr {
    cursor: pointer;
    transition: .5s;
}

.sub_news table tbody tr:hover {
    background-color: #f7f7f7;
    transform: translateX(10px);
}


/* 서브 뉴스 끝 */


/* 대표 축제 시작 */

.j_festival .flex_e {
    margin: 30px 0;
}

.j_festival .flex_e button>i {
    color: #d33;
    margin-right: 8px;
}

.j_festival .album {
    margin: 20px 0;
}

.j_festival .main_festival {
    width: 100%;
    height: 300px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 30px;
    margin-bottom: 30px;
}

.j_festival .main_festival .text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.j_festival .main_festival .text .title {
    font-size: 22px;
    color: #222;
}

.j_festival .main_festival .text p {
    color: #888;
    font-size: 13px;
}

.j_festival .main_festival .text span {
    color: #888;
}

.j_festival .festivalList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 450px);
    grid-gap: 30px;
}

.j_festival .festivalList .card img {
    height: 70%;
}

.j_festival .festivalList .text {
    height: 30%;
}

.j_festival .festivalList .card .cnt {
    width: 30px;
    height: 30px;
    background-color: #d33;
    color: #fff;
    font-weight: bold;
    position: absolute;
    top: 0px;
    right: 0px;
}

.j_festival .page_btn_group>a {
    width: 30px;
    height: 30px;
    border: 1px solid #d33;
    color: #d33;
    background-color: #fff;
    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.j_festival .page_btn_group>a.active {
    background-color: #d33;
    color: #fff;
}

.j_festival .page_btn_group>a.disable {
    opacity: 0.5;
    cursor: default;
}


/* 대표 축제 끝 */


/* 모달 시작 */

#view_modal .inner {
    width: 100%;
}

#view_modal .title {
    font-size: 25px;
    margin-bottom: 10px;
    color: #000;
}

#view_modal .info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 300px;
    grid-gap: 30px;
}

#view_modal .info img {
    width: 100%;
    object-fit: cover;
}

#view_modal .info .text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#view_modal .text p {
    font-size: 14px;
    color: #888;
}

#view_modal .slide {
    margin: 30px 0;
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden;
}

#view_modal .slide .slide_pannel {
    height: 100%;
    display: flex;
    position: absolute;
    left: 0;
    transition: .5s;
}

#view_modal .inner .pagination>button {
    margin: 0 6px;
    outline: none;
}


/* 모달 끝 */


/* 환율안내 시작 */

.current {
    width: 100%;
    height: 100%;
    margin-top: 120px;
}

.current table th {
    font-size: 14px;
    font-weight: bold;
}

.current table tr.active td {
    color: #d33;
    font-weight: bold;
}

.current table td {
    font-size: 14px;
}


/* 환율안내 끝 */


/* 로그인 페이지 시작 */

.login_page {
    width: 100%;
    margin-top: 120px;
    height: calc(100vh - 288px);
}

.login_page .input_box {
    border-bottom: 1px solid #d33;
    height: 50px;
    width: 50%;
    margin: 15px 0;
}

.login_page .input_box input {
    border: none;
    height: 100%;
    width: 100%;
}

.login_page .option_group {
    width: 50%;
    height: 50px;
}

.login_page .btn_group {
    width: 50%;
    height: 50px;
    margin-top: 50px;
}

.login_page .btn_group>button {
    width: 45%;
    height: 60px;
    font-size: 1rem;
}


/* 로그인 페이지 끝 */


/* 축제 현황 목록 시작 */

.festivalCS {
    width: 100%;
    min-height: calc(100vh - 288px);
    margin-top: 120px;
}

.festivalCS .btn_group {
    margin: 20px 0;
}

.festivalCS .pagination_group>a {
    width: 30px;
    height: 30px;
    border: 1px solid #d33;
    color: #d33;
    background-color: #fff;
    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.festivalCS .pagination_group>a.active {
    background-color: #d33;
    color: #fff;
}

.festivalCS .pagination_group>a.disable {
    opacity: 0.5;
    cursor: default;
}


/* 축제 현환 목록 끝 */


/* 축제 수정 폼 시작 */

.update {
    width: 100%;
    margin-top: 120px;
}

.update .form_box {
    width: 80%;
    margin: 0 auto;
}

.update .image_group {
    background-color: #f3f3f3;
    padding: 20px 25px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
}

.update .image_group>div {
    margin: 0 10px;
}

.update .btn_group {
    margin-top: 50px;
}


/* 축제 수정 폼 끝 */


/* 축제 추가 폼 시작 */

.insert {
    width: 100%;
    height: calc(100vh - 288px);
    margin-top: 120px;
}

.insert .form_box {
    width: 80%;
    margin: 0 auto;
}

.insert .image_group {
    background-color: #f3f3f3;
    padding: 20px 25px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
}

.insert .image_group>div {
    margin: 0 10px;
}

.insert .btn_group {
    margin-top: 50px;
}


/* 축제 추가 폼 끝 */



/* 축제 상세 정보 페이지 시작 */

.festivalView {
    width: 100%;
    margin-top: 120px;
}

.festivalView .inner {
    width: 100%;
}

.festivalView .title {
    font-size: 25px;
    margin-bottom: 10px;
    color: #000;
}

.festivalView .info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 300px;
    grid-gap: 30px;
    margin-bottom: 50px;
}

.festivalView .info img {
    width: 100%;
    object-fit: cover;
}

.festivalView .info .text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.festivalView .text p {
    font-size: 14px;
    color: #888;
}

.festivalView .sub_img_box {
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 30px;
    margin-bottom: 50px;
}

.festivalView .sub_img_box > img {
    width: 100%;
    height: 255px;
}

.festivalView .review_item {
    margin: 20px 0;
}

.festivalView .review_item .review_left {
    width: 90%;
}

.festivalView .review_item .review_right {
    width: 10%;
}

.festivalView .review_item .name_group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.festivalView .review_item .name_group > p {
    margin-bottom: 0;
    margin-right: 20px;
    font-size: 18px;
    font-weight: bold;
}

.festivalView .review_item .name_group  i {
    color: #d33;
}

.festivalView .review_item .review_left .text {
    width: 100%;
}

#review_modal {
    width: 1600px;
}



/* 축제 상세 정보 페이지 끝 */


